<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="' Spring Boot: MVC + Thymeleaf + Data JPA' + ${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</head>
<body>

    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/listar}" style="color: white !important">Spring Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/listar}" style="color: white !important">Home</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link" th:href="@{/listar}" style="color: white !important">Clientes</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdownTwo" style="justify-content: flex-end">
                    <ul class="navbar-nav navbar-right float-end">
                        <li sec:authorize="!isAuthenticated()"><a class="btn btn-outline-primary" th:href="@{/login}">Sign In</a></li>

                        <li sec:authorize="isAuthenticated()" class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </button>
                            <div class="dropdown-menu">
                                <form id="logoutForm" th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Sign Out</button>

                                </form>
                            </div>
                        </li>
                    </ul>
                    <!-- Link para los idiomas -->
                    <ul class="navbar-nav navbar-right mx-4">
                        <li class="nav-item mx-1"><a class="btn btn-outline-success"
                                                     th:href="@{/locale(lang=es_ES)}">ES</a></li>
                        <li class="nav-item mx-1"><a class="btn btn-outline-success"
                                                     th:href="@{/locale(lang=en_US)}">EN</a></li>
                        <li class="nav-item mx-1"><a class="btn btn-outline-success"
                                                     th:href="@{/locale(lang=de_DE)}">DE</a></li>

                        <!-- Dropdown menu para el lenguaje -->
                        <!--
                        <li class="nav-item dropdown show mx-2"><a
                                class="btn btn-outline-primary dropdown-toggle" href="#"
                                role="button" id="dropdownLenguaje" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span
                                th:text="#{text.locale.language}"></span></a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/locale(lang=es_ES)}"
                                   th:text="#{text.locale.es}">ES</a> <a class="dropdown-item"
                                                                         th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}">EN</a>
                                <a class="dropdown-item" th:href="@{/locale(lang=de_DE)}"
                                   th:text="#{text.locale.de}">DE</a>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

    </div>

    <footer th:fragment="footer" class="container">
        <p sec:authorize="isAuthenticated()">
            Usuario Logeado: <span sec:authentication="name"></span> | Roles <span sec:authentication="principal.authorities"></span>
        </p>
        <!--<img th:src="@{/images/spring.svg}" alt="Spring Logo"/>-->
        <br>
        <p>
            by PabloAgustin-DEV's
        </p>
    </footer>

</body>
</html>